@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
:root{
  --amarillo: #F9DE5D;
  --verde: #009241;
  --negro: #1F1A17;
  --blanco: #f1f1f1;
  --naranja: #ff7a0d;
}
*{
  font-family: 'Lato', sans-serif;
}
.nav-img{
  width: 20vh;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: var(--verde);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  font-weight: bolder;
  color: var(--verde);
}
.hero{
  color: var(--negro);
}
.hero-logo{
  width: 100%;
}
.hero-subtitulo{
  font-size: 28px;
  color: var(--verde);
}
.hero-img{
  width: 100%;
}
.semillas{
  height: 100vh;
  background-color: #d4d4d4;
}
.semillas-img{
  width: 100%;
}
.paquete-img{
  width: 50%;
}
.semillas-texto span{
  color: var(--verde);
}
.semillas-texto h3{
  color: var(--verde);
}
.button{
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}
.semillas-button{
  background-color: var(--verde);
  color: var(--blanco);
}
.semillas-button:hover{
  background-color: var(--amarillo);
  color: var(--negro)
}
.maquinaria{
  height: 100vh;
  background-image: linear-gradient(red, yellow);
}
.maquianria-pauny-logo{
  width: 50%;
}
.maquianaria-button{
  background-color: var(--amarillo);
  color: var(--negro);
}.maquianaria-button:hover{
  background-color: var(--verde);
  color: var(--blanco);
}
.maquinaria-img{
  width: 100%;
}
.motoimplementos{
  height: 100vh;
  background-color: #dbdada;
}
.stihl-button{
  color: var(--blanco);
  background-color: var(--naranja);
}
.stihl-button:hover{
  color: var(--negro);
  background-color: #ff5100;
}
@media (min-width: 578px) and (max-width: 993px){
  .nav-img{
    width: 15vh;
  }
  .hero{
    height: auto;
  }
  .hero-logo{
    width: 50%;
  }
  .hero-subtitulo{
    font-size: 20px;
  }
  .hero-texto{
    font-size: 18px;
  }
  .hero-img{
    width: 80%;
  }
}
@media (max-width: 577px){
  .nav-img{
    width: 15vh;
  }
  .hero{
    height: auto;
  }
  .hero-logo{
    width: 50%;
  }
  .hero-subtitulo{
    font-size: 16px;
  }
  .hero-texto{
    font-size: 12px;
  }
  .hero-img{
    width: 100%;
  }
 .button{
    font-size: 12px;
    padding: 5px 15px;
  }
}