@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
:root{
  --amarillo: #F9DE5D;
  --verde: #009241;
  --negro: #1F1A17;
}
*{
  font-family: 'Lato', sans-serif;
}
.nav-img{
  width: 20vh;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: var(--verde);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  font-weight: bolder;
  color: var(--verde);
}
.hero{
  color: var(--negro);
}
.hero-logo{
  width: 100%;
}
.hero-subtitulo{
  font-size: 28px;
  color: var(--verde);
}
.hero-img{
  width: 100%;
}
.semillas{
  height: 100vh;
}
.franja-fondo-semillas{
  width: 100%;
  height: 30%;
  background-color: var(--verde);
  top: 30%;
}
.semillas-img{
  width: 80%;
}
.semillas-texto h2 span{
  color: var(--verde);
}
.semillas-tipos{
  padding: 25px 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, .8);
}
.maiz{
  background-color: var(--amarillo);
}
.sorgo{
  background-color: var(--negro);
}

@media (min-width: 578px) and (max-width: 993px){
  .nav-img{
    width: 15vh;
  }
  .hero{
    height: auto;
  }
  .hero-logo{
    width: 50%;
  }
  .hero-subtitulo{
    font-size: 20px;
  }
  .hero-texto{
    font-size: 18px;
  }
  .hero-img{
    width: 80%;
  }
}
@media (max-width: 577px){
  .nav-img{
    width: 15vh;
  }
  .hero{
    height: auto;
  }
  .hero-logo{
    width: 50%;
  }
  .hero-subtitulo{
    font-size: 16px;
  }
  .hero-texto{
    font-size: 12px;
  }
  .hero-img{
    width: 100%;
  }
}