.hero-seccion-servicios{
  background-image: url('../../assets/Taller/servicio-fondo.jpg');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.titulo-hero-servicios{
  font-size: 200px;
  line-height: 75%;
  margin-bottom: 50px;
  color:var(--gris);
}
@media (max-width: 572px){
  .titulo-hero-servicios{
    font-size: 100px;
  }
}
@media (max-width: 573px){
  .hero-seccion-servicios{
    background-image: url('../../assets/Taller/service-hero-movil.png');
  }
  .titulo-hero-servicios{
    color:var(--blanco);
  }
}