.accordion{
  margin-bottom: 25px;
}
.accordion-item{
  border: none;
}
.accordion-tromen{
  color: var(--blanco);
  font-size: 35px;
  height: 75px;
  background: linear-gradient(90deg, var(--rojo) 15%, rgba(252,176,69,0) 100%);
  margin: 5px 0 ;
  font-weight: bold;
}
.accordion-tromen:not(.collapsed){
  color: var(--blanco);
  background-color: transparent;
}
.accordion-tromen:focus{
  box-shadow: none;
}
.accordion-tromen.accordion-tromen:not(.collapsed)::after{
  filter: grayscale(100%);
}
.accordion-header{
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.gourmet{
  background-image: url('../../assets/Tromen/gourmet.jpg');
}
.calefaccion{
  background-image: url('../../assets/Tromen/calefaccion.jpg');
}
.aire-libre{
  background-image: url('../../assets/Tromen/aire-libre.jpg');
}
.accordion-body{
  padding: 0;
}
@media (min-width:573px) and (max-width:1022px){
  .accordion-tromen{
    font-size: 37px;
  }
  .accordion-tromen:not(.collapsed){
    font-size: 37px;
  }
}
@media (max-width:572px){
  .accordion-tromen{
    font-size: 25px;
    background: linear-gradient(90deg, var(--rojo) 30%, rgba(252,176,69,0) 100%);
    height: 90px;
  }
  .accordion-tromen:not(.collapsed){
    font-size: 25px;
  }
}